@{
    ViewBag.Title = "About";
}
<div class="col-left" style="background-color:#fff">
    <article class="box-shock bica news">
        <h1 style="font-weight: bold;font-size:x-large">Giới thiệu về  dongoaichinhhang.com</h1>
        <div class="clr">
            <p>dongoaichinhhang.com là thương hiệu chuyên cung cấp các sản phẩm làm đẹp, mỹ phẩm, chăm sóc sức khỏe, đồ gia dụng,… chính hãng nổi tiếng trong và ngoài nước. Với mục tiêu tạo ra một kênh mua sắm yên tâm cho khách hàng, dongoaichinhhang.com luôn nỗ lực không ngừng để nâng cao chất lượng sản phẩm và chất lượng dịch vụ.</p>
            <p>Khi mua hàng trực tuyến tại  dongoaichinhhang.com  , khách hàng sẽ được đảm bảo những lợi ích sau:</p>
            <h2 id="cam-ket-hang-chinh-hang-100">CAM KẾT HÀNG CHÍNH HÃNG 100%</h2>
            <p>- Tất cả các sản phẩm đều có xuất xứ rõ ràng, đến từ những thương hiệu đã nổi tiếng về chất lượng trong và ngoài nước như: Mỹ, Pháp, Nhật Bản, Thái Lan, Hàn Quốc,…</p>
            <p>- Hàng chính hãng 100%, để phòng tránh hàng giả, hàng trôi nổi, dongoaichinhhang.com luôn kiểm tra sản phẩm nghiêm ngặt từ nhà sản xuất, nhà nhập khẩu, nhà phân phối trước khi đến tay khách hàng.</p>
            <p>- Hàng giao tận tay khách hàng luôn trong tình trạng mới 100%.</p>
            <p style="text-align: center;"><img alt="" class="lazy quickview-link" data-src="~/Assests/imgs/gioithieu.jpg" style="width: 700px; height: 370px; display: inline; opacity: 1;" src="~/Assests/imgs/gioithieu.jpg"></p>
            <p style="text-align: center;"><em>dongoaichinhhang.com - Cam kết 100% chính hãng</em></p>
            <h2 id="cam-ket-ve-gia-ca">CAM KẾT VỀ GIÁ CẢ</h2>
            <p>- Bán đúng giá sản phẩm với mức giá cạnh tranh nhất thị trường. Thường xuyên có những ưu đãi và giảm giá lớn.</p>
            <p style="text-align: center;"><img alt="" class="lazy quickview-link" data-src="~/Assests/imgs/bestprice.jpg" style="width: 700px; height: 367px; display: inline; opacity: 1;" src="~/Assests/imgs/bestprice.jpg"></p>
            <p style="text-align: center;"><em>Giá cả tại  dongoaichinhhang.com   là cạnh tranh nhất</em></p>
            <h2 id="cam-ket-hoan-tien-300-gia-tri-san-pham-neu-phat-hien-khong-dung-hang-chinh-hang">CAM KẾT HOÀN TIỀN 300% GIÁ TRỊ SẢN PHẨM NẾU PHÁT HIỆN KHÔNG ĐÚNG HÀNG CHÍNH HÃNG</h2>
            <p>Nhằm tạo sự an tâm tuyệt đối đến quý khách hàng và thể hiện uy tín,  dongoaichinhhang.com   thực hiện chính sách:</p>
            <ul>
                <li>	Hoàn tiền 300% giá trị sản phẩm nếu khách hàng phát hiện hàng giả, hàng nhái, hàng được giao không đúng hàng chính hãng.</li>
                <li>	Đổi trả miễn phí do lỗi từ nhà sản xuất.</li>
            </ul>
            <h2 style="text-align: center;"><img alt="" class="lazy quickview-link" data-src="~/Assests/imgs/refund.jpg" style="width: 700px; height: 437px; display: inline; opacity: 1;" src="~/Assests/imgs/refund.jpg"></h2>
            <p style="text-align: center;"><em>Cam kết hoàn tiền nếu phát hiện hàng không chính hãng</em></p>
            <h2 id="cam-ket-mua-sam-an-toan">CAM KẾT MUA SẮM AN TOÀN</h2>
            <p>- Giao hàng nhanh tận nơi, THANH TOÁN KHI NHẬN HÀNG, khách hàng chỉ trả tiền khi đã được trao hàng tận tay.</p>
            <p>- Liên kết với các đơn vị chuyển phát nhanh và đáng tin cậy: EMS, Viettel, Giao hàng nhanh và dịch vụ giao hàng nhanh trong nội thành HCM,  dongoaichinhhang.com   đảm bảo thời gian giao hàng luôn nhanh nhất.&nbsp;</p>
            <p></p>
            <div class="rowsp">
                <ul class="lsn"></ul>
            </div>
            <div class="clr"></div>
        </div>
    </article>
</div>
<div class="col-right">
    <div class="sidebar sidebar-right">
        <div class="widget widget-seller">
            <div class="widget widget-seller">
                <h4 class="seller_title radius">Danh mục sản phẩm</h4>
                <div class="widget-content">
                    <ul class="category-ul-rght">
                        <li class="has-sub-cat active">
                            <a href="/Catagory?cat=1" title="Mỹ phẩm Đặc Trị">Mỹ phẩm Đặc Trị</a>
                            <ul style="display: block;">
                                @foreach (var item in ViewBag.cates)
                                {
                                    if (item.group_ID == "1")
                                    {
                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li class="has-sub-cat">
                            <a href="/Catagory?cat=2" title="Thực phẩm Chức Năng">Thực phẩm Chức Năng</a>
                            <ul style="display: none;">
                                @foreach (var item in ViewBag.cates)
                                {
                                    if (item.group_ID == "2")
                                    {
                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li class="has-sub-cat">
                            <a href="/Catagory?cat=3" title="Mỹ phẩm Chăm sóc Da">Mỹ phẩm Chăm sóc Da</a>
                            <ul style="display: none;">
                                @foreach (var item in ViewBag.cates)
                                {
                                    if (item.group_ID == "3")
                                    {
                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li class="has-sub-cat">
                            <a href="/Catagory?cat=4" title="Thuốc mọc Tóc, Râu, Mi, Mày">Thuốc mọc Tóc, Râu, Mi, Mày</a>
                            <ul style="display: none;">
                                @foreach (var item in ViewBag.cates)
                                {
                                    if (item.group_ID == "4")
                                    {
                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>  <a href="/Catagory?cat=6" title="Nước hoa Chính hãng">Nước hoa Chính hãng</a></li>
                        <li> <a href="/Catagory?cat=7" title="Collagen Đẹp Da">Collagen Đẹp Da</a></li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
            <div class="widget widget-seller">
                <h4 class="seller_title radius">Thương hiệu hàng đầu</h4>
                <div class="widget-content">
                    <ul class="category-ul-rght">
                        @foreach (var item in ViewBag.cates)
                        {
                            if (item.group_ID == "8")
                            {
                                <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>