
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-left" style="background-color:#fff">
                    <article class="box-shock bica news">
                        <h1 style="font-weight: bold;font-size:larger">Chính sách Đồ Ngoại Chính Hãng</h1>
                        <div class="clr">
                            <h2 style="text-align: center;">
                                <a href="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-1.jpg"
                                   target="_blank" title="Chính sách Đồ Ngoại Chính Hãng ảnh
                    1">
                                    <img alt="chinh sach hang chinh hang anh 1" class="lazy
                        quickview-link"
                                         data-src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-1.jpg"
                                         style="width: 700px; height: 239px; display: inline;
                        opacity: 1;" title="Chính sách Đồ Ngoại Chính Hãng ảnh
                        1" src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-1.jpg">
                                </a>
                            </h2><p>
                                <b>
                                    Mục
                                    lục
                                </b> <a id="aShHi" href="javascript:void();">Ẩn</a>
                            </p><ul class="lMluc">
                                <li>
                                    <a href="#cam-ket-100-chuyen-hang-chinh-hang-chat-luong">
                                        Cam
                                        Kết 100% Chuyên Hàng Chính Hãng Chất Lượng
                                    </a>
                                </li>
                                <li>
                                    <a href="#gia-ca-toi-uu-nhat">Giá Cả Tối Ưu Nhất</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-cham-soc-khach-hang-tai-dongoaichinhhangcom">
                                        Dịch
                                        Vụ Chăm Sóc Khách Hàng Tại Dongoaichinhhang.Com
                                    </a>
                                </li>
                                <li>
                                    <a href="#bao-mat-thong-tin">Bảo Mật Thông Tin</a>
                                </li>
                            </ul><p></p><h2 id="cam-ket-100-chuyen-hang-chinh-hang-chat-luong">
                                CAM KẾT 100%
                                CHUYÊN HÀNG CHÍNH HÃNG CHẤT LƯỢNG
                            </h2><ul>
                                <li>
                                    <span style="color:#ff0000;">
                                        Cam kết Chuyên Hàng Chính Hãng
                                        100%:
                                    </span> dongoaichinhhang.com cam kết chỉ cung cấp
                                    đến quý khách hàng những sản phẩm chính hãng, đảm bảo về
                                    chất lượng, có nguồn gốc xuất xứ và tuân thủ đúng quy định
                                    pháp luật.
                                </li>
                                <li>
                                    <span style="color:#ff0000;">
                                        Dongoaichinhhang.com
                                        nói KHÔNG với:
                                    </span> Các sản phẩm là hàng giả, hàng
                                    nhái, hàng kém chất lượng, hàng không rõ nguồn gốc xuất xứ.
                                </li>
                                <li>
                                    Chúng tôi có chính sách <span style="color:#0000ff;">
                                        <strong>
                                            cam
                                            kết hoàn tiền 300%
                                        </strong>
                                    </span> nếu khách hàng
                                    chứng minh được hàng giả, hàng nhái. Đảm bảo lợi ích cao
                                    nhất cho quý khách hàng.
                                </li>
                                <li>
                                    Chịu trách nhiệm đổi mới
                                    sản phẩm cho khách hàng khi có lỗi xảy ra. Tuân thủ theo
                                    chính sách đổi trả dongoaichinhhang.com đã quy định.
                                </li>
                            </ul><p style="text-align: center;">
                                <a href="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-15.png"
                                   target="_blank" title="Chính sách Đồ Ngoại Chính Hãng ảnh
                    15">
                                    <img alt="chinh sach hang chinh hang anh 15" class="lazy
                        quickview-link"
                                         data-src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-15.png"
                                         style="width: 700px; height: 196px; display: inline;
                        opacity: 1;" title="Chính sách Đồ Ngoại Chính Hãng ảnh
                        15" src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-15.png">
                                </a>
                            </p><p style="text-align: center;">
                                <em>
                                    Cam kết hoàn tiền 300% nếu phát
                                    hiện hàng giả khi mua sắm tại dongoaichinhhang
                                </em>
                            </p><h2 id="gia-ca-toi-uu-nhat">
                                GIÁ CẢ TỐI ƯU NHẤT
                            </h2><p>
                                Giá bán trên
                                dongoaichinhhang.com là giá bán cuối cùng, đã được tối ưu thông
                                qua các chương trình khuyến mãi mua hàng, kích cầu mua sắm. Tất
                                cả các sản phẩm trên dongoaichinhhang.com đều được công khai về
                                giá.
                            </p><p style="text-align: center;">
                                <a href="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-23.jpg"
                                   target="_blank" title="Chính sách Đồ Ngoại Chính Hãng ảnh
                    23">
                                    <img alt="chinh sach hang chinh hang anh 23" class="lazy
                        quickview-link"
                                         data-src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-23.jpg"
                                         style="width: 700px; height: 467px; display: inline;
                        opacity: 1;" title="Chính sách Đồ Ngoại Chính Hãng ảnh
                        23" src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-23.jpg">
                                </a>
                            </p><p style="text-align: center;">
                                <em>
                                    Mua sắm thỏa thích với giá tốt
                                    nhất tại dongoaichinhhang
                                </em>
                            </p><h2 id="dich-vu-cham-soc-khach-hang-tai-dongoaichinhhangcom">
                                DỊCH VỤ
                                CHĂM SÓC KHÁCH HÀNG TẠI DONGOAICHINHHANG.COM
                            </h2><ul>
                                <li>
                                    <span style="color:#ff0000;">
                                        Phong cách phục vụ và tư vấn
                                        chuyên nghiệp:
                                    </span>Đội ngũ nhân viên giàu kinh
                                    nghiệm, am hiểu sản phẩm sẽ đảm bảo sự hài lòng cho quý
                                    khách. Việc chọn mua sản phẩm sẽ được tư vấn tận tình, bảo
                                    đảm sự hài lòng trước khi đi đến quyết định mua hàng.
                                </li>
                                <li>
                                    <span style="color:#ff0000;">Dịch vụ hậu mãi chu đáo:</span>
                                    dongoaichinhhang.com luôn sẵn sàng tiếp nhận mọi phản hồi và
                                    đáp ứng tốt nhất mọi yêu cầu từ phía khách hàng.
                                </li>
                                <li>
                                    <span style="color:#ff0000;">Phương thức nhận đơn hàng:</span>
                                    Chúng tôi chấp nhận đơn đặt hàng qua Website và Hotline.
                                </li>
                            </ul><h2 id="bao-mat-thong-tin">
                                BẢO MẬT THÔNG TIN
                            </h2><h3>
                                <span style="color:#ff0000;">
                                    Bảo mật tuyệt đối thông tin cá nhân
                                    của Khách hàng.&nbsp;
                                </span>
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="col-right">
                    <div class="sidebar sidebar-right">
                        <div class="widget widget-seller">
                            <div class="widget widget-seller">
                                <h4 class="seller_title radius">Danh mục sản phẩm</h4>
                                <div class="widget-content">
                                    <ul class="category-ul-rght">
                                        <li class="has-sub-cat active">
                                            <a href="/Catagory?cat=1" title="Mỹ phẩm Đặc Trị">Mỹ phẩm Đặc Trị</a>
                                            <ul style="display: block;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "1")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=2" title="Thực phẩm Chức Năng">Thực phẩm Chức Năng</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "2")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=3" title="Mỹ phẩm Chăm sóc Da">Mỹ phẩm Chăm sóc Da</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "3")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=4" title="Thuốc mọc Tóc, Râu, Mi, Mày">Thuốc mọc Tóc, Râu, Mi, Mày</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "4")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li>  <a href="/Catagory?cat=6" title="Nước hoa Chính hãng">Nước hoa Chính hãng</a></li>
                                        <li> <a href="/Catagory?cat=7" title="Collagen Đẹp Da">Collagen Đẹp Da</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="widget widget-seller">
                                <h4 class="seller_title radius">Thương hiệu hàng đầu</h4>
                                <div class="widget-content">
                                    <ul class="category-ul-rght">
                                        @foreach (var item in Model)
                                        {
                                            if (item.group_ID == "8")
                                            {
                                                <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>