@using BTL_NHOM12_ClientPage.Models
@functions{
    public List<CartItem> getCartItem()
    {
        List<CartItem> Cart = new List<CartItem>();
        Cart = Session["Cart"] as List<CartItem>;
        if (Session["Cart"] == null)
            Session["Cart"] = Cart;
        else
            Cart = Session["Cart"] as List<CartItem>;
        return Cart;
    }
    public int getNumOfCart()
    {
        List<CartItem> Cart = new List<CartItem>();
        Cart = Session["Cart"] as List<CartItem>;
        if (Session["Cart"] == null)
            Session["Cart"] = Cart;
        else
            Cart = Session["Cart"] as List<CartItem>;
        if (Cart == null) return 0;
        return Cart.Count();
    }
}
<!DOCTYPE html>
<html lang="vi" xml:lang="vi">
<head>
    <title>Đồ Ngoại Chính Hãng mang Chất lượng và Uy tín đến tay người dùng</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#ff0000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Assests/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Assests/CSS/cart.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Assests/CSS/menu.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Assests/CSS/styles4.css" type="text/css" media="screen" />
    <link href="~/Assests/CSS/category.css" rel="stylesheet" />
    <link href="~/Assests/CSS/owl-carousel.css" rel="stylesheet" />
    <link href="~/Assests/CSS/home.css" rel="stylesheet" />
    <link href="~/Assests/CSS/detail4.css" rel="stylesheet" />
    <link href="~/Assests/CSS/progift.css" rel="stylesheet" />
    <script src="~/Assests/js/common.js"></script>
    <script type="text/javascript">if ('serviceWorker' in navigator) { window.addEventListener('load', function () { navigator.serviceWorker.register('/sw4.js').then(function (registration) { console.log('ServiceWorker registration successful with scope: ', registration.scope) }).catch(function (err) { console.log('ServiceWorker registration failed: ', err) }) }) }</script>
    <link rel="stylesheet" href="~/Assests/CSS/home.css" type="text/css" media="screen" />
</head>
<body>
    <div id="wrapper_content_page">
        <header>
            <div class="out-wraphead clr">
                <div class="wraphead">
                    <a class="icon-menu navbar-toggle" id="mobileMenu" data-toggle="collapse"><span class="icon-bar first"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                    <a class="logo" title="dongoaichinhhang.com" href="/"><img src="~/Assests/images/dongoaichinhhang.png" alt="dongoaichinhhang.com" /></a><img id="sSrch" class="sSrch" src="~/Assests/images/iSearch.png" alt="search" />
                    <form id="main-search" autocomplete="off" action="/SearchProduct/Index">
                        <input class="topinput" type="text" minLength="1" maxlength="100" placeholder="Tìm sản phẩm(tên sản phẩm, hãng sx, nơi sx)..." id="keySearch" name="tk" autocomplete="off" />
                        <button class="btntop" type="submit">
                            <i class="icondmx-topsearch"></i>
                        </button>
                    </form>
                    <div id="cart-box">
                        <a href="/Cart/Index" class="cart hidecb"><i class="icart"></i><span id="cbCount">@getNumOfCart()</span> </a>
                        <aside id="core-brain">
                            <div class="panel">
                                <div id="cb-cart">
                                    <div class="body between">
                                        <div class="product-list ps-container ps-theme-default" id="list-cart"></div>
                                        <div class="pull-bottom ">
                                            <div class="cart-url">
                                                <p>Bạn có <strong id="cb-cart-badge">@getNumOfCart()</strong> sản phẩm trong giỏ hàng</p>
                                                <a href="/Cart/Index">Xem giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </aside>
                    </div>
                    <div class="switchboard hmb"><a href="tel:0983667466">0983 667 466<span>Tư vấn Miễn Phí</span></a></div>
                </div>
            </div>
        </header>
        <section class="mtsl clr">
            <h1 class="hdn">dongoaichinhhang.com Hệ thống phân phối hàng chính hãng số 1 Việt Nam</h1>
            <h1>Số lượng người truy cập: @AppState["currentUser"]</h1>
            <h1>Tổng số người đã truy cập: @AppState["totalVisitedUser"]</h1>
            @RenderBody()
            <div class="clr"></div>
        </section>
        <footer>
            <div class="clr"></div>
            <div class="footer_info">
                <div id="show-fp"></div>
                <section>
                    <div class="page_info">
                        <div class="pi-first">
                            <div class="inner">
                                <h4 class="title" Phương Thức Thanh To&aacute;n</h4>
                                <div class="clr">
                                    <ul class="lpay">
                                        <li><img alt="cash" src="~/Assests/images/cash.png" /></li>
                                        <li><img alt="internet-banking" src="~/Assests/images/internet-banking.png" /></li>
                                    </ul>
                                    <a href="https://zalo.me/0983667466" target="_blank"><img alt="" src="~/Assests/fUp/zalo-barcode.png" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="pi-second">
                            <div class="inner">
                                <h4 class="title clr">	Trung t&acirc;m ph&acirc;n phối</h4>
                                <p>	Đ/c: 11/71 B&ugrave;i Đ&igrave;nh T&uacute;y, P.12, Q. B&igrave;nh Thạnh, TpHCM<br />	Hotline: <a href="tel:0983667466">0983 667 466</a><br />	Email: info@dongoaichinhhang.com<br />	Website: <a href="http://dongoaichinhhang.com/" rel="nofollow" title="Shop Đồ Ngoại">www.dongoaichinhhang.com </a></p>
                            </div>
                        </div>
                        <div class="pi-third">
                            <div class="show-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1333.2537272719658!2d106.69780835760047!3d10.806865894974957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c093fdafb9%3A0xbf42d864713572e1!2zMTEvNzEgQsO5aSDEkMOsbmggVHXDvSwgUGjGsOG7nW5nIDEyLCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1550808182143" width="600" height="110" frameborder="0" style="border:0;max-width:100%" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="footer-col">
                        <div class="col-div col1">
                            <div class="inner">
                                <h4>Thông tin</h4>
                                <ul>
                                    <li><a href="/Home/Index" title="Trang chủ">Trang chủ</a></li>
                                    <li><a href="/Home/About" title="Giới thiệu về  dongoaichinhhang.com  ">Giới thiệu về  dongoaichinhhang.com</a></li>
                                    <li><a href="/Product/All" title="Sản phẩm">Sản phẩm</a></li>
                                    <li><a href="/Bonus/Index" title="Kho quà tặng">Kho quà tặng</a></li>
                                    <li><a href="/News/Index" title="Kiến thức làm đẹp">Kiến thức làm đẹp</a></li>
                                    <li><a href="/Contact/Index" title="Liên hệ">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col2">
                            <div class="inner">
                                <h4>Hướng dẫn</h4>
                                <ul>
                                    <li><a href="/ChinhSachDNCH/Index" title="Chính sách Đồ Ngoại Chính Hãng">Chính sách Đồ Ngoại Chính Hãng</a></li>
                                    <li><a href="/HuongDanMuaHang/Index" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a></li>
                                    <li><a href="/GiaoHangVaThanhToan/Index" title="Giao nhận và thanh toán">Giao nhận và thanh toán</a></li>
                                    <li><a href="/BaoHanhVaDoiTra/Index" title="Đổi trả hàng và bảo hành">Đổi trả hàng và bảo hành</a></li>
                                    <li><a href="/ChinhSachHoanTien/Index" title="Chính sách Hoàn Tiền">Chính sách Hoàn Tiền</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col3">
                            <div class="inner">
                                <h4>Sản phẩm HOT</h4>
                                <ul>
                                    <li><a href="https://sily.vn/thuoc-collagen-chong-lao-hoa-dayoutheory-390-vien-type-1-2-3-my-collagen-6000mg-youtheory-biotin.html" title="Collagen Youtheory 390 Mỹ">Collagen Youtheory 390 Mỹ</a></li>
                                    <li><a href="https://sily.vn/thuoc-moc-toc-danh-cho-nu-qik-hair-stpaul-brands-30-vien-cua-my.html" title="Thuốc mọc tóc Nữ QIK Hair Mỹ">Thuốc mọc tóc Nữ QIK Hair Mỹ</a></li>
                                    <li><a href="https://goomart.vn/thuoc-ho-tro-moc-long-may-kaminomoto-eyebrows-rapid-growth-10ml-nhat-ban.html" title="Thuốc mọc lông Mày Kaminomoto">Thuốc mọc lông Mày Kaminomoto</a></li>
                                    <li><a href="https://goomart.vn/vien-uong-trang-da-collagen-placenta-5-in-1-270-vien-nhat-ban.html" title="Collagen Placenta 5 in 1 trắng da Nhật">Collagen Placenta 5 in 1 trắng da Nhật</a></li>
                                    <li><a href="https://goomart.vn/vien-uong-bo-xuong-khop-glucosamine-1500mg-orihiro-900-vien-nhat-ban.html" title="Glucosamine Orihiro 1500mg Nhật Bản">Glucosamine Orihiro 1500mg Nhật Bản</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-div col4 w100">
                            <div class="inner">
                                <h4>	Li&ecirc;n hệ</h4>
                                <ul>
                                    <li>		Shop<strong>&nbsp;ĐỒ NGOẠI CH&Iacute;NH H&Atilde;NG</strong></li>
                                    <li>		Đ/c: 11/71 B&ugrave;i Đ&igrave;nh T&uacute;y, P.12, B&igrave;nh Thạnh, HCM</li>
                                    <li>		Hotline: <a href="tel:0983667466">0983 667 466</a></li>
                                    <li>		Email: <a href="mailto:info@dongoaichinhhang.com">info@dongoaichinhhang.com </a></li>
                                    <li>		Website: <a href="http://dongoaichinhhang.com/"><strong>www.dongoaichinhhang.com </strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </section>
                <div class="footer-tabs">
                    <section>
                        <div class="mmb"></div>
                        <div class="clr"></div>
                    </section>
                </div>
            </div>
        </footer>
        <div class="hotlineM"><a href="tel:0983667466"><img src="~/Assests/images/hotline.png" alt="hotline" /></a></div>
        <div id="gb-top-page" style="display: none;">↑</div>
    </div>
    <span class="h-geo geo" style="display: none;"><span class="p-latitude latitude">14.058324</span>,<span class="p-longitude longitude">108.277199</span></span>
    <div id="cart_sidebar_html">
        <div class="cart-sidebar">
            <div id="cart-loading hide"></div>
            <div class="widget-wrapper">
                <div id="cart-info" class="cart-info">
                    <span class="title">Giỏ Hàng</span><br /><br /><span id="showItemOrder"></span>
                    <div class="buttons"><a href="/Cart/Index" class="btn-pay" title="thanh toán">TIẾN HÀNH ĐẶT HÀNG</a><a href="#" onclick="return hideCart()" class="btn-viewcart hidden-lg hidden-md hidden-desktop" title="đóng giỏ hàng">ĐÓNG</a></div>
                    <div>
                        <div><b>HỖ TRỢ 24/7</b></div>
                        <div style="margin: 10px 0;">Hotline: <a href="tel://0983667466" style="color: red; font-size: 18px; font-weight: 700">0983 667 466</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mobile-menu" class="mobile-menu"></div>
    <script src="~/Assests/js/response.min.js"></script>
    <script src="~/Assests/js/jquery.sticky.js"></script>
    <script src="~/Assests/js/home.js"></script>
    <script src="~/Assests/js/script.js"></script>
    <script src="~/Assests/js/news.js"></script>
    <script src="~/Assests/js/jquery.fancybox.js"></script>
    <script type="text/javascript">$(function () { var win = $(window); var loaded = 0; var loadedScrollTop = 0; win.scroll(function () { loadedScrollTop = 1; if ($(window).scrollTop() + window.innerHeight + 10 >= $('#show-fp').position().top && loaded == 0) { $('.show-map').html('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1333.2537272719658!2d106.69780835760047!3d10.806865894974957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c093fdafb9%3A0xbf42d864713572e1!2zMTEvNzEgQsO5aSDEkMOsbmggVHXDvSwgUGjGsOG7nW5nIDEyLCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1550808182143" width="600" height="110" frameborder="0" style="border:0;max-width:100%" allowfullscreen></iframe>'); loaded = 1; } }); });</script>
    @*<script type="application/ld+json">{"\@context": "http://schema.org","@type": "LocalBusiness","priceRange":"$$","image":"https://dongoaichinhhang.com/images/dongoaichinhhang.com192x192.png","name" : "dongoaichinhhang.com","telephone": "+84 983 667 466","address": {"@type": "PostalAddress","streetAddress": "11/71 Bùi Đình Túy, P.12, Bình Thạnh","addressLocality": "Hồ Chí Minh"}}</script>
        <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","name":"Đồ Ngoại Chính Hãng","url":"https://dongoaichinhhang.com/","potentialAction": [{ "@type": "SearchAction","target": "/tim-kiem.html?tk={search_term_string}","query-input": "required name=search_term_string"}]}</script>*@
</body>
</html>