
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewBag.idd
<div class="col-left">
    <h2><img src="~/Assests/imgs/my-pham-dac-tri-4.jpg" alt="Mỹ phẩm Đặc Trị" title="Mỹ phẩm Đặc Trị" style="margin-bottom:6px;max-width:100%"></h2>
    <div class="barbox">
        <h1 class="titlecate">
            <a href="/danh-muc/my-pham-dac-tri.html" title="Mỹ phẩm Đặc Trị">
                  @if (@ViewBag.nameCat != "")
                  {
                      @ViewBag.nameCat
                  }
                  else
                  {
                      if(ViewBag.catDetail != null)
                      {
                          foreach(var item in @ViewBag.catDetail)
                          {
                              @item.category_name
                          }

                      }
                  }
             </a>
        </h1>
    </div>
    <div class="box-shock">
        @if(ViewBag.catDetail != null)
        {
            foreach (var item in @ViewBag.catDetail)
            {
                <div class="bica">
                    @item.description
                </div>

            }
        }
        <div class="rowsp">
            <ul class="category-ul homeproduct nonslider">
                @foreach (var item in ViewBag.Products)
                {
                    <li>
                        <div class="absoluteimg">
                            <a href="/Product/Index/@item.product_ID" title="@item.product_name">
                                <img src="/Assests/@item.photo.Replace("~","")" alt="@item.product_name">
                            </a>
                            <div class="prolink"><a href="#" onclick="return showCart(50929, 1);"><i></i>&nbsp;Thêm giỏ hàng</a></div>
                        </div>
                        <h3><a href="/Product/Index/@item.product_ID" title="@item.product_name">@item.product_name</a></h3>
                        <ins>@(string.Format("{0:000,0 đ}", @item.price))</ins>
                        <div class="vote">
                            <div style="width:0%"></div>
                        </div>
                    </li>
                }
            </ul>
            <div style="clear: both"></div>
            <div class="pagina">
                <ul>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=1">««</a></li>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=1">«</a></li>
                    <li class="active"><a href="/danh-muc/my-pham-dac-tri.html?p=1">1</a></li>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=2">2</a></li>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=3">3</a></li>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=4">4</a></li>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=2">»</a></li>
                    <li><a href="/danh-muc/my-pham-dac-tri.html?p=4">»»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>