@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using BTL_NHOM12_ClientPage.Models
    @model List<New>*@
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-left" style="background-color:#fff">
                    <article class="box-shock bica news">
                        <div class="clr">
                            <p></p>
                            <div class="rowsp">
                                <ul class="lsn">
                                    @foreach (var item in Model)
                                    {
                                    <li class="li-news">
                                        <h2>
                                            @item.title
                                        </h2>
                                        @Html.Raw(HttpUtility.HtmlDecode(@item.detail))
                                    </li>
                                    }

                                </ul>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-right">
                <div class="sidebar sidebar-right">
                    <div class="widget widget-seller">
                        <div class="widget widget-seller">
                            <h4 class="seller_title radius">Danh mục sản phẩm</h4>
                            <div class="widget-content">
                                <ul class="category-ul-rght">
                                    <li class="has-sub-cat active">
                                        <a href="/Catagory?cat=1" title="Mỹ phẩm Đặc Trị">Mỹ phẩm Đặc Trị</a>
                                        <ul style="display: block;">
                                            @foreach (var item in ViewBag.cates)
                                            {
                                                if (item.group_ID == "1")
                                                {
                                                    <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li class="has-sub-cat">
                                        <a href="/Catagory?cat=2" title="Thực phẩm Chức Năng">Thực phẩm Chức Năng</a>
                                        <ul style="display: none;">
                                            @foreach (var item in ViewBag.cates)
                                            {
                                                if (item.group_ID == "2")
                                                {
                                                    <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li class="has-sub-cat">
                                        <a href="/Catagory?cat=3" title="Mỹ phẩm Chăm sóc Da">Mỹ phẩm Chăm sóc Da</a>
                                        <ul style="display: none;">
                                            @foreach (var item in ViewBag.cates)
                                            {
                                                if (item.group_ID == "3")
                                                {
                                                    <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li class="has-sub-cat">
                                        <a href="/Catagory?cat=4" title="Thuốc mọc Tóc, Râu, Mi, Mày">Thuốc mọc Tóc, Râu, Mi, Mày</a>
                                        <ul style="display: none;">
                                            @foreach (var item in ViewBag.cates)
                                            {
                                                if (item.group_ID == "4")
                                                {
                                                    <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li> <a href="/Catagory?cat=6" title="Nước hoa Chính hãng">Nước hoa Chính hãng</a></li>
                                    <li> <a href="/Catagory?cat=7" title="Collagen Đẹp Da">Collagen Đẹp Da</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clr"></div>
                        <div class="widget widget-seller">
                            <h4 class="seller_title radius">Thương hiệu hàng đầu</h4>
                            <div class="widget-content">
                                <ul class="category-ul-rght">
                                    @foreach (var item in ViewBag.cates)
                                    {
                                        if (item.group_ID == "8")
                                        {
                                            <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>