
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="mtsl clr">

        <div class="col-left" style="background-color:#fff">
            <article class="box-shock bica news">
                <h1 style="font-weight: bold;font-size:larger">Hướng dẫn mua hàng</h1>
                <div class="clr">
                    <h3>
                        Chào mừng Quý khách hàng đến với website:&nbsp;<span style="color:#0000cd;">
                            <strong>
                                dongoaichinhhang.com
                            </strong>
                        </span>
                    </h3><ul>
                        <li>
                            <span style="color:#0000cd;">
                                Dongoaichinhhang.com
                            </span> là trang thương mại điện tử uy tín, chất lượng hàng
                            đầu Việt Nam.
                        </li>
                        <li>
                            Chúng tôi chuyên cung cấp các<strong>
                                sản phẩm làm đẹp, mỹ phẩm, chăm sóc sức khỏe, đồ gia
                                dụng.
                            </strong>
                        </li>
                        <li>
                            Cam kết sản phẩm chính hãng 100%
                            đến từ các thương hiệu uy tín trong và ngoài nước.
                        </li>
                    </ul><p>
                        Quý
                        khách có thể đặt hàng trực tuyến ở website:<strong style="color:
            rgb(0, 0, 205);">&nbsp; dongoaichinhhang.com</strong>rất đơn
                        giản với các bước như sau:
                    </p><p>
                        <b>Mục lục</b> <a id="aShHi"
                                            href="javascript:void();">Ẩn</a>
                    </p><ul class="lMluc">
                        <li>
                            <a href="#i-tim-san-pham">I. Tìm Sản Phẩm:</a>
                        </li>
                        <li>
                            <a href="#ii-tiep-theo-quy-khach-co-the-dat-hang-theo-4-cach-sau">
                                Ii.
                                Tiếp Theo Quý Khách Có Thể Đặt Hàng Theo 4 Cách Sau:
                            </a>
                        </li>
                    </ul><p></p><h2 id="i-tim-san-pham">
                        I. TÌM SẢN PHẨM:
                    </h2><ul>
                        <li>
                            &nbsp; &nbsp;
                            Gõ tên sản phẩm vào thanh tìm kiếm
                        </li>
                        <li>
                            &nbsp; &nbsp;
                            Tìm theo danh mục
                        </li>
                        <li>
                            &nbsp; &nbsp; Tìm theo các sản
                            phẩm hot, bán chạy
                        </li>
                    </ul><p style="text-align: center;">
                        <img alt="" class="lazy quickview-link" data-src="~/Assests/fUp/1(1).png"
                                style="width: 900px; height: 629px; display: inline;
            opacity: 1;" src="~/Assests/fUp/1(1).png">
                    </p><ul>
                        <li>
                            <strong>
                                Khi đã
                                chọn được sản phẩm,
                            </strong>&nbsp;vui lòng bấm vào sản
                            phẩm để&nbsp;<strong>xem thông tin chi tiết</strong>,&nbsp;<strong>
                                kiểm
                                tra thông tin về giá, thông tin khuyến mãi.
                            </strong>
                        </li>
                    </ul><h2 id="ii-tiep-theo-quy-khach-co-the-dat-hang-theo-4-cach-sau">
                        II.
                        TIẾP THEO QUÝ KHÁCH CÓ THỂ ĐẶT HÀNG THEO 4 CÁCH SAU:
                    </h2><h3>
                        <strong style="color: rgb(255, 0, 0);">CÁCH 1: MUA HÀNG NGAY</strong>
                    </h3><p>
                        <span style="color:#40e0d0;">
                            <em><strong>Bước 1</strong></em>.
                        </span>Click vào nút <strong>
                            <span style="color: rgb(255, 0,
                0);">"Đặt Hàng Ngay".</span>
                        </strong>
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/2.png" style="width: 900px;
            height: 648px; display: inline; opacity: 1;"
                                src="~/Assests/fUp/2.png">
                    </p><p style="text-align: center;">&nbsp;</p><p>&nbsp;</p><p>
                        <span style="color:#40e0d0;"><em><strong>Bước 2.</strong></em></span>
                        Nhập thông tin: Tên, số điện thoại, địa chỉ, ghi chú (nếu có) và
                        nhấn vào nút <span style="color:#ff0000;"><strong>"Đặt Hàng "</strong></span>,
                        thông tin càng đầy đủ, chính xác sẽ giúp chúng tôi phục vụ Quý
                        khách được tốt hơn.
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy quickview-link" data-src="~/Assests/fUp/3.png"
                                style="width: 900px; height: 817px; display: inline;
            opacity: 1;" src="~/Assests/fUp/3.png">
                    </p><p style="text-align:
        center;">&nbsp;</p><p>
                        <span style="color:#40e0d0;">
                            <em>
                                <strong>
                                    Bước
                                    3.
                                </strong>
                            </em>
                        </span>Đặt hàng thành công, chuyên
                        viên tư vấn của chúng tôi sẽ gọi lại cho Quý khách để xác nhận
                        và hỗ trợ mọi thông tin liên quan trong thời gian sớm nhất.
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/4.png" style="width: 900px;
            height: 738px; display: inline; opacity: 1;"
                                src="~/Assests/fUp/4.png">
                    </p><p style="text-align: center;">&nbsp;</p><h3>
                        <strong style="color: rgb(255, 0, 0);">
                            CÁCH 2: NHẬP THÔNG TIN TÊN VÀ
                            SỐ ĐIỆN THOẠI
                        </strong>
                    </h3><p>
                        <strong>
                            <em>Bước 1:</em> Click
                            vào cửa sổ "Gọi lại cho tôi" trên màn hình.
                        </strong>
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/5.png" style="width: 900px;
            height: 652px; display: inline; opacity: 1;"
                                src="~/Assests/fUp/5.png">
                    </p><p style="text-align: center;">&nbsp;</p><p>
                        <em>
                            <strong>
                                Bước
                                2:
                            </strong>
                        </em>Điền đầy đủ thông tin: tên, số điện
                        thoại và Click vào<span style="color:#ff0000;"> <strong>“GỬI”</strong></span>
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/6 1.png" style="width: 900px;
            height: 651px; display: inline; opacity: 1;" src="~/Assests/fUp/6
            1.png">
                    </p><p style="text-align: center;">&nbsp;</p><p>
                        <em>
                            <strong>
                                Bước
                                3:
                            </strong>
                        </em>Đặt hàng thành công, chuyên viên tư vấn
                        của chúng tôi sẽ gọi lại cho Quý khách để xác nhận và hỗ trợ mọi
                        thông tin liên quan trong thời gian sớm nhất.
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/6 2.png" style="width: 900px;
            height: 628px; display: inline; opacity: 1;" src="~/Assests/fUp/6
            2.png">
                    </p><p style="text-align: center;">&nbsp;</p><h3>
                        <span style="color:#ff0000;">
                            <strong>
                                CÁCH 3: NHẬP THÔNG TIN TÊN VÀ
                                SỐ ĐIỆN THOẠI, ĐỊA CHỈ
                            </strong>
                        </span>
                    </h3><p>
                        <strong>
                            <em>
                                Bước
                                1:
                            </em>Điền đầy đủ thông tin trên màn hình sau đó click
                            vào nút<span style="color:#ff0000;"> “Đặt Hàng Nhanh”</span>
                        </strong>
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/7.png" style="width: 900px;
            height: 840px; display: inline; opacity: 1;"
                                src="~/Assests/fUp/7.png">
                    </p><p style="text-align: center;">&nbsp;</p><p>
                        <strong>
                            <em>
                                Bước
                                2:
                            </em> Đặt hàng thành công, chuyên viên tư vấn của
                            chúng tôi sẽ gọi lại cho Quý khách để xác nhận và hỗ trợ mọi
                            thông tin liên quan trong thời gian sớm nhất.&nbsp;
                        </strong>
                    </p><p style="text-align: center;">
                        <img alt="" class="lazy
            quickview-link" data-src="~/Assests/fUp/8.png" style="width: 900px;
            height: 798px; display: inline; opacity: 1;"
                                src="~/Assests/fUp/8.png">
                    </p><h3>
                        <strong>CÁCH 4: </strong>Quí khách
                        có thể gọi trực tiếp cho Dongoaichinhhang.com theo số hotline
                        <span style="color:#ff0000;">094 505 7766</span> để đặt hàng và
                        được tư vấn về sản phẩm ngay lập tức.
                    </h3>
                </div>
            </article>
        </div>
        <div class="col-right">
            <div class="sidebar sidebar-right">
                <div class="widget widget-seller">
                    <div class="widget widget-seller">
                        <h4 class="seller_title radius">Danh mục sản phẩm</h4>
                        <div class="widget-content">
                            <ul class="category-ul-rght">
                                <li class="has-sub-cat active">
                                    <a href="/Catagory?cat=1" title="Mỹ phẩm Đặc Trị">Mỹ phẩm Đặc Trị</a>
                                    <ul style="display: block;">
                                        @foreach (var item in Model)
                                        {
                                            if (item.group_ID == "1")
                                            {
                                                <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="has-sub-cat">
                                    <a href="/Catagory?cat=2" title="Thực phẩm Chức Năng">Thực phẩm Chức Năng</a>
                                    <ul style="display: none;">
                                        @foreach (var item in Model)
                                        {
                                            if (item.group_ID == "2")
                                            {
                                                <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="has-sub-cat">
                                    <a href="/Catagory?cat=3" title="Mỹ phẩm Chăm sóc Da">Mỹ phẩm Chăm sóc Da</a>
                                    <ul style="display: none;">
                                        @foreach (var item in Model)
                                        {
                                            if (item.group_ID == "3")
                                            {
                                                <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="has-sub-cat">
                                    <a href="/Catagory?cat=4" title="Thuốc mọc Tóc, Râu, Mi, Mày">Thuốc mọc Tóc, Râu, Mi, Mày</a>
                                    <ul style="display: none;">
                                        @foreach (var item in Model)
                                        {
                                            if (item.group_ID == "4")
                                            {
                                                <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li>  <a href="/Catagory?cat=6" title="Nước hoa Chính hãng">Nước hoa Chính hãng</a></li>
                                <li> <a href="/Catagory?cat=7" title="Collagen Đẹp Da">Collagen Đẹp Da</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                    <div class="widget widget-seller">
                        <h4 class="seller_title radius">Thương hiệu hàng đầu</h4>
                        <div class="widget-content">
                            <ul class="category-ul-rght">
                                @foreach (var item in Model)
                                {
                                    if (item.group_ID == "8")
                                    {
                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </section>
            

