
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-left" style="background-color:#fff">
                    <article class="box-shock
        bica news">
                        <h1 style="font-weight: bold;font-size:larger">Chính sách Hoàn Tiền</h1>
                        <div class="clr">
                            <p style="text-align: center;">
                                <img alt="" class="lazy
                    quickview-link" data-src="~/Assests/fUp/chinhsachhoantien.jpg" style="text-align: center; width: 512px; height:
                    285px; display: inline; opacity: 1;" src="~/Assests/fUp/chinhsachhoantien.jpg">
                            </p><h2 id="hoan-tien-qua-tai-khoan-ngan-hang">
                                HOÀN TIỀN QUA TÀI KHOẢN
                                NGÂN HÀNG.
                            </h2><p>
                                Thời gian hoàn tất thủ tục hoàn tiền từ: 3 - 4
                                ngày làm việc. Tuy nhiên, thủ tục bên phía ngân hàng có thể mất
                                từ 1 đến 2 ngày để hiển thị số tiền bồi hoàn trong tài khoản của
                                khách hàng.
                            </p><p>
                                Riêng đối với các loại thẻ thanh toán quốc tế
                                (Visa, mastercard,...) tài khoản thẻ của khách hàng sẽ hiển thị
                                số tiền bồi hoàn ở lần sao kê tiếp theo (thời gian dự kiến là 30
                                ngày tùy theo ngân hàng).
                            </p><p style="text-align: center;">
                                <img alt="" class="lazy quickview-link"
                                     data-src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-15.png"
                                     style="text-align: center; width: 700px; height: 196px;
                    display: inline; opacity: 1;"
                                     src="~/Assests/fUp/chinh-sach-hang-chinh-hang-anh-15.png">
                            </p><h3>
                                +
                                <span style="color:#ff0000;"><strong>Hoàn tiền 100%</strong></span>
                                trường hợp giao hàng sai hoặc đơn vị vận chuyển làm hư móp méo
                                hàng hóa hoặc lỗi khách quan trong quá trình vận chuyển.
                            </h3><h3>
                                +
                                <span style="color:#ff0000;"><strong>Hoàn tiền 300%</strong></span>
                                trường hợp hàng hóa không đúng chất lượng.
                            </h3>
                            <div class="rowsp"><ul class="lsn"></ul></div><div class="clr"></div>
                        </div>
                    </article>
                </div>
                <div class="col-right">
                    <div class="sidebar sidebar-right">
                        <div class="widget widget-seller">
                            <div class="widget widget-seller">
                                <h4 class="seller_title radius">Danh mục sản phẩm</h4>
                                <div class="widget-content">
                                    <ul class="category-ul-rght">
                                        <li class="has-sub-cat active">
                                            <a href="/Catagory?cat=1" title="Mỹ phẩm Đặc Trị">Mỹ phẩm Đặc Trị</a>
                                            <ul style="display: block;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "1")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=2" title="Thực phẩm Chức Năng">Thực phẩm Chức Năng</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "2")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=3" title="Mỹ phẩm Chăm sóc Da">Mỹ phẩm Chăm sóc Da</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "3")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=4" title="Thuốc mọc Tóc, Râu, Mi, Mày">Thuốc mọc Tóc, Râu, Mi, Mày</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "4")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li>  <a href="/Catagory?cat=6" title="Nước hoa Chính hãng">Nước hoa Chính hãng</a></li>
                                        <li> <a href="/Catagory?cat=7" title="Collagen Đẹp Da">Collagen Đẹp Da</a></li>
                                        <li class="has-sub-cat">
                                            <a href="/Catagory?cat=8" title="Thương hiệu hàng đầu">Thương hiệu hàng đầu</a>
                                            <ul style="display: none;">
                                                @foreach (var item in Model)
                                                {
                                                    if (item.group_ID == "8")
                                                    {
                                                        <li><a href="/Catagory/Index/@item.category_ID" title="@item.category_name">@item.category_name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clr"></div>
                            <div class="widget widget-seller">
                                <h4 class="seller_title radius">Thương hiệu hàng đầu</h4>
                                <div class="widget-content">
                                    <ul class="category-ul-rght"></ul>
                                </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>

